#button
{
    margin-top: 20px;
}

.container
{
    margin-top: 100px;
}

.result-image {
    max-width: 80%; 
    height: auto; 
}

.image-list img {
    max-width: 80px;
    max-height: 80px;
}

#image_preview{
    margin-left: 400px;
    margin-top: 50px;
}

.input-group
{
    margin-top: 10px;
}

.form-group
{
    margin-top: 20px;
}

#field
{
    margin-top: 10px;
}

#subtitle
{
    font-size: 16px;
}